body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3732.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1080.28px;
	z-index:0;
}
#_idContainer001 {
	-ms-transform:translate(189.138px,3166.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(189.138px,3166.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(189.138px,3166.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(189.138px,3166.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.55px;
	z-index:3;
}
#_idContainer002 {
	-ms-transform:translate(202.362px,2141.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(202.362px,2141.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(202.362px,2141.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(202.362px,2141.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:118.83px;
	z-index:4;
}
#_idContainer003 {
	-ms-transform:translate(235.779px,1522.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(235.779px,1522.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(235.779px,1522.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(235.779px,1522.997px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:619.36px;
	z-index:2;
}
#_idContainer004 {
	-ms-transform:translate(736.362px,2141.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(736.362px,2141.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(736.362px,2141.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(736.362px,2141.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:119.55px;
	z-index:1;
}
#_idContainer005 {
	display:inline-block;
	height:3732px;
	position:relative;
	width:1080px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
